.email-form > textarea{
  max-width: 550px;
  border-radius: 4px;
  padding: 10px 0;
  font-size: 1.2rem;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
  height: 250px;
  border-style: ridge;
}

.email-form > a {
  border: solid grey 2px;
  background-color: grey;
  font-size: 1.6rem;
  width: 250px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 1%;
  text-align: center;
  color: #e3e1e1;
  background-color:#2c3e50;
}

.email-form > a:hover {
  background-color: #e3e1e1;
  color:#2c3e50;
  text-decoration: none;
}

.email-form > input {
  max-width: 450px;
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 10px 0;
  font-size: 1.2rem;
}

.email-form {
  padding-top: 20px;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 2px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px){
  .email-form {
    margin: 0 auto;
  }
  .email-form > input {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .email-form > textarea{
    max-width: 600px;
  }
}

@media (max-width: 700px){
  .email-form > textarea{
    margin-bottom: 20px;
  }
}